PEDEAI_IMAGE=hiarley/pedeai:latest
HTTP_PORT=3000
POSTGRES_DB=pedeai_production
POSTGRES_USER=pedeai
POSTGRES_PASSWORD=replace-with-a-long-random-password
SECRET_KEY_BASE=replace-with-output-of-bin-rails-secret
SIDEKIQ_CONCURRENCY=5
