PEDEAI_IMAGE=hiarley/pedeai:latest
APP_HOST=pedeai.insilico.cloud
CORS_ORIGINS=https://pedeai.insilico.cloud
RAILS_ASSUME_SSL=true
RAILS_FORCE_SSL=true
TRAEFIK_NETWORK=plataforma-redacao-web
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_CERTRESOLVER=letsencryptresolver
POSTGRES_DB=pedeai_production
POSTGRES_USER=pedeai
POSTGRES_PASSWORD=replace-with-a-long-random-password
SECRET_KEY_BASE=replace-with-output-of-bin-rails-secret
SIDEKIQ_CONCURRENCY=5
